html {
    font-family: sans-serif;
    font-size: 14pt;
}

#selector {
    width: 250px;
}

#selector >  * {
    width: 100%;
}


option {
    font-size: 14pt;
}
button {
    font-size: 14pt;
}

table {
    table-layout: fixed;
    font-size: 16pt;
    width: 200px;
}

th,
td {
    width: calc(100%/3);
    border: 1px solid rgb(160 160 160);
}


input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    /* border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px; */
}

td {
    text-align: center;
    vertical-align: middle;
    /* width: 100%; */
}

label {
    display: block;
}

/* input:checked {
    border: 6px solid black;
} */

label:has(> input[type=radio][name=selectedNote]:checked) {
    /* border: 6px solid black; */
    /* color: red; */
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    /* background-color: mediumblue; */
    background-color: #0060DF;
    /* font-size: 110%; */
}

input:checked+span {
    background-color: #000;
    color: #fff;
}